<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vow_white"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vow_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.vow.app" />
            </intent-filter>
        </activity>

        <activity-alias android:name=".whiteIconAlias" android:enabled="true" android:exported="true" android:icon="@mipmap/ic_vow_white" android:roundIcon="@mipmap/ic_vow_white" android:targetActivity=".MainActivity" android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".blackIconAlias" android:enabled="false" android:exported="true" android:icon="@mipmap/ic_vow_black" android:roundIcon="@mipmap/ic_vow_black" android:targetActivity=".MainActivity" android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".goldIconAlias" android:enabled="false" android:exported="true" android:icon="@mipmap/ic_vow_gold" android:roundIcon="@mipmap/ic_vow_gold" android:targetActivity=".MainActivity" android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".blueIconAlias" android:enabled="false" android:exported="true" android:icon="@mipmap/ic_vow_blue" android:roundIcon="@mipmap/ic_vow_blue" android:targetActivity=".MainActivity" android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
</manifest>
